<!-- Projeto Desenvolvido na Data Science Academy - www.datascienceacademy.com.br -->
# <font color='blue'>Data Science Academy</font>
## <font color='blue'>Data Science Para Análise Multivariada de Dados</font>
## <font color='blue'>Projeto 2 - Parte 1 - Pré-Processamento</font>
### <font color='blue'>Seleção de Modelos de Machine Learning em Análise Multivariada com Dados Anonimizados</font>

### Instalando e Carregando Pacotes

In [1]:
# Para atualizar um pacote, execute o comando abaixo no terminal ou prompt de comando:
# pip install -U nome_pacote

# Para instalar a versão exata de um pacote, execute o comando abaixo no terminal ou prompt de comando:
# !pip install nome_pacote==versão_desejada

# Depois de instalar ou atualizar o pacote, reinicie o jupyter notebook.

# Instala o pacote watermark. 
# Esse pacote é usado para gravar as versões de outros pacotes usados neste jupyter notebook.
!pip install -q -U watermark

In [1]:
# Imports
import pandas as pd
import numpy as np
import pickle

In [2]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Data Science Academy"

Author: Data Science Academy

## Carregando os Dados

In [3]:
# Carregando os dados
df_dsa = pd.read_csv("datasets_cap7/dataset.csv")

In [4]:
# Shape
df_dsa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11500 entries, 0 to 11499
Columns: 179 entries, X1 to LABEL_TARGET
dtypes: bool(1), int64(178)
memory usage: 15.6 MB

In [5]:
# Visualizando alguns registros
type(df_dsa.LABEL_TARGET[0])

numpy.bool

## Análise Exploratória e Limpeza de Dados

In [6]:
# Categorias da variável alvo
df_dsa.LABEL_TARGET.value_counts()

LABEL_TARGET
False    9200
True     2300
Name: count, dtype: int64

In [7]:
# Converte de string para valor numérico
df_dsa["LABEL_TARGET"] = df_dsa["LABEL_TARGET"].astype(int)

In [8]:
# Visualizando alguns registros
df_dsa.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
0,135,190,229,223,192,125,55,-9,-33,-38,...,-17,-15,-31,-77,-103,-127,-116,-83,-51,0
1,386,382,356,331,320,315,307,272,244,232,...,164,150,146,152,157,156,154,143,129,1
2,-32,-39,-47,-37,-32,-36,-57,-73,-85,-94,...,57,64,48,19,-12,-30,-35,-35,-36,0
3,-105,-101,-96,-92,-89,-95,-102,-100,-87,-79,...,-82,-81,-80,-77,-85,-77,-72,-69,-65,0
4,-9,-65,-98,-102,-78,-48,-16,0,-21,-59,...,4,2,-12,-32,-41,-65,-83,-89,-73,0

In [9]:
print("Número de colunas:", len(df_dsa.columns))

Número de colunas: 179

In [10]:
# Resumo estatístico
df_dsa.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
count,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.00000,11500.00000,11500.000000,...,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000
mean,-11.581391,-10.911565,-10.187130,-9.143043,-8.009739,-7.003478,-6.502087,-6.68713,-6.55800,-6.168435,...,-10.145739,-11.630348,-12.943478,-13.668870,-13.363304,-13.045043,-12.705130,-12.426000,-12.195652,0.200000
std,165.626284,166.059609,163.524317,161.269041,160.998007,161.328725,161.467837,162.11912,162.03336,160.436352,...,164.652883,166.149790,168.554058,168.556486,167.257290,164.241019,162.895832,162.886311,164.852015,0.400017
min,-1839.000000,-1838.000000,-1835.000000,-1845.000000,-1791.000000,-1757.000000,-1832.000000,-1778.00000,-1840.00000,-1867.000000,...,-1867.000000,-1865.000000,-1642.000000,-1723.000000,-1866.000000,-1863.000000,-1781.000000,-1727.000000,-1829.000000,0.000000
25%,-54.000000,-55.000000,-54.000000,-54.000000,-54.000000,-54.000000,-54.000000,-55.00000,-55.00000,-54.000000,...,-55.000000,-56.000000,-56.000000,-56.000000,-55.000000,-56.000000,-55.000000,-55.000000,-55.000000,0.000000
50%,-8.000000,-8.000000,-7.000000,-8.000000,-8.000000,-8.000000,-8.000000,-8.00000,-7.00000,-7.000000,...,-9.000000,-10.000000,-10.000000,-10.000000,-10.000000,-9.000000,-9.000000,-9.000000,-9.000000,0.000000
75%,34.000000,35.000000,36.000000,36.000000,35.000000,36.000000,35.000000,36.00000,36.00000,35.250000,...,34.000000,34.000000,33.000000,33.000000,34.000000,34.000000,34.000000,34.000000,34.000000,0.000000
max,1726.000000,1713.000000,1697.000000,1612.000000,1518.000000,1816.000000,2047.000000,2047.00000,2047.00000,2047.000000,...,1777.000000,1472.000000,1319.000000,1436.000000,1733.000000,1958.000000,2047.000000,2047.000000,1915.000000,1.000000

In [11]:
# Verificando se há valores ausentes
df_dsa.isnull().values.any()

np.False_

In [12]:
# Extrai a lista de colunas
lista_de_colunas = df_dsa.columns.tolist()

In [13]:
# Colunas das variáveis de entrada (input)
colunas_entrada = lista_de_colunas[0:178]

In [14]:
print(colunas_entrada)

['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X25', 'X26', 'X27', 'X28', 'X29', 'X30', 'X31', 'X32', 'X33', 'X34', 'X35', 'X36', 'X37', 'X38', 'X39', 'X40', 'X41', 'X42', 'X43', 'X44', 'X45', 'X46', 'X47', 'X48', 'X49', 'X50', 'X51', 'X52', 'X53', 'X54', 'X55', 'X56', 'X57', 'X58', 'X59', 'X60', 'X61', 'X62', 'X63', 'X64', 'X65', 'X66', 'X67', 'X68', 'X69', 'X70', 'X71', 'X72', 'X73', 'X74', 'X75', 'X76', 'X77', 'X78', 'X79', 'X80', 'X81', 'X82', 'X83', 'X84', 'X85', 'X86', 'X87', 'X88', 'X89', 'X90', 'X91', 'X92', 'X93', 'X94', 'X95', 'X96', 'X97', 'X98', 'X99', 'X100', 'X101', 'X102', 'X103', 'X104', 'X105', 'X106', 'X107', 'X108', 'X109', 'X110', 'X111', 'X112', 'X113', 'X114', 'X115', 'X116', 'X117', 'X118', 'X119', 'X120', 'X121', 'X122', 'X123', 'X124', 'X125', 'X126', 'X127', 'X128', 'X129', 'X130', 'X131', 'X132', 'X133', 'X134', 'X135', 'X136', 'X137', 'X138', 'X139', 'X140', 'X141', 'X142', 'X143', 'X144', 'X145', 'X146', 'X147', 'X148', 'X149', 'X150', 'X151', 'X152', 'X153', 'X154', 'X155', 'X156', 'X157', 'X158', 'X159', 'X160', 'X161', 'X162', 'X163', 'X164', 'X165', 'X166', 'X167', 'X168', 'X169', 'X170', 'X171', 'X172', 'X173', 'X174', 'X175', 'X176', 'X177', 'X178']

In [15]:
# Checando se temos colunas duplicadas nos dados de entrada
dup_cols = set([x for x in colunas_entrada if colunas_entrada.count(x) > 1])
print(dup_cols)
assert len(dup_cols) == 0, "você duplicou colunas em cols_input"

set()

In [16]:
# Checando se temos colunas duplicadas no dataset completo
dup_cols = set([x for x in lista_de_colunas if lista_de_colunas.count(x) > 1])
print(dup_cols)
assert len(dup_cols) == 0,'você duplicou colunas em lista_de_colunas'

set()

In [17]:
# Categorias da variável alvo
df_dsa.LABEL_TARGET.value_counts()

LABEL_TARGET
0    9200
1    2300
Name: count, dtype: int64

A prevalência é a porcentagem das amostras que têm a característica que você está tentando prever. Em nosso caso, significa que as pessoas que renovaram o seguro são da classe positiva (ocorrência do evento) e quem não comprou é da classe negativa (não ocorreu o evento).

Os termos positivo e negativo não têm conotação de coisa boa ou ruim. É apenas a nomenclatura usada para indicar a ocorrência ou não do evento.

A taxa é calculada por (número de amostras positivas / número de amostras). Portanto, uma taxa de prevalência de 0,2 significa que 20% de nossa amostra renovou o seguro do carro.

In [18]:
# Esta função calcula a prevalência da classe positiva (label = 1)
def calcula_prevalencia(label_target):
    return sum(label_target) / len(label_target)

In [19]:
print("Prevalência da classe positiva: %.3f"% calcula_prevalencia(df_dsa["LABEL_TARGET"].values))

Prevalência da classe positiva: 0.200

> O desbalanceamento de classe é um problema que terá que ser resolvido durante o pré-processamento dos dados.

## Divisão dos Dados Mantendo a Prevalência de Classe

In [32]:
# Gerando amostras aleatórias dos dados
df_data = df_dsa.sample(n = len(df_dsa))

In [33]:
df_data

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
967,-45,-42,-9,22,48,62,54,34,-7,-35,...,2,-39,-86,-125,-137,-137,-120,-100,-82,0
1509,-65,-60,-56,-58,-56,-56,-44,-24,-27,-50,...,-73,-43,-35,-28,-7,17,20,4,4,0
10281,-41,-46,-52,-62,-62,-78,-78,-66,-43,-27,...,-81,-81,-80,-70,-55,-40,-36,-44,-50,0
1916,-73,-65,-56,-45,-22,-4,18,26,19,16,...,14,-2,-23,-47,-48,-58,-58,-52,-45,0
7230,-15,-46,-85,-113,-144,-181,-205,-212,-196,-172,...,-12,-7,-7,-8,-29,-41,-52,-64,-63,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5202,85,100,88,72,66,61,60,55,49,18,...,-97,-117,-103,-75,-51,-20,6,41,67,0
9352,27,35,37,38,27,15,-4,-18,-29,-21,...,17,-5,-25,-29,-17,-8,2,0,-21,0
703,5,-2,-1,11,14,14,11,12,18,22,...,28,20,10,-1,-4,2,8,17,14,0
7671,-15,-47,-54,-50,-38,-32,-19,-8,2,22,...,35,29,13,-21,-42,-62,-67,-68,-60,0
11474,-50,-48,-63,-62,-46,-24,-1,13,27,43,...,44,43,46,47,46,32,13,6,2,0

In [34]:
# Ajustando os índices do dataset
df_data = df_data.reset_index(drop = True)

In [35]:
df_data

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
0,-45,-42,-9,22,48,62,54,34,-7,-35,...,2,-39,-86,-125,-137,-137,-120,-100,-82,0
1,-65,-60,-56,-58,-56,-56,-44,-24,-27,-50,...,-73,-43,-35,-28,-7,17,20,4,4,0
2,-41,-46,-52,-62,-62,-78,-78,-66,-43,-27,...,-81,-81,-80,-70,-55,-40,-36,-44,-50,0
3,-73,-65,-56,-45,-22,-4,18,26,19,16,...,14,-2,-23,-47,-48,-58,-58,-52,-45,0
4,-15,-46,-85,-113,-144,-181,-205,-212,-196,-172,...,-12,-7,-7,-8,-29,-41,-52,-64,-63,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11495,85,100,88,72,66,61,60,55,49,18,...,-97,-117,-103,-75,-51,-20,6,41,67,0
11496,27,35,37,38,27,15,-4,-18,-29,-21,...,17,-5,-25,-29,-17,-8,2,0,-21,0
11497,5,-2,-1,11,14,14,11,12,18,22,...,28,20,10,-1,-4,2,8,17,14,0
11498,-15,-47,-54,-50,-38,-32,-19,-8,2,22,...,35,29,13,-21,-42,-62,-67,-68,-60,0
11499,-50,-48,-63,-62,-46,-24,-1,13,27,43,...,44,43,46,47,46,32,13,6,2,0

In [36]:
# Extrai uma amostra de 30% dos dados de forma aleatória
df_amostra_30 = df_data.sample(frac = 0.3)

In [37]:
df_amostra_30

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
11458,43,55,68,71,74,82,79,81,70,68,...,-43,-55,-63,-67,-66,-63,-61,-62,-56,0
1354,2,-22,-24,-8,17,24,29,14,-1,7,...,81,70,20,1,-29,-56,-72,-67,-64,0
9782,-41,-53,-35,-13,-1,4,-4,-22,-20,-2,...,91,92,79,72,53,20,-9,-11,2,0
5055,-4,-17,-22,-37,-42,-48,-56,-55,-61,-63,...,-105,-96,-81,-63,-46,-29,-13,-4,-3,0
11452,15,22,19,13,-1,-1,-2,5,17,20,...,1,-9,-9,-3,10,8,-1,-5,-13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8603,-288,-284,-168,46,251,327,182,-123,-420,-563,...,-187,-50,90,128,-8,-281,-512,-481,-351,1
7858,-7,35,41,75,75,90,66,31,-1,-9,...,4,7,-8,-53,-55,-14,9,18,16,0
684,45,41,30,17,10,-1,-2,-5,-2,-3,...,-148,-134,-126,-120,-115,-113,-111,-115,-117,0
331,-37,-36,-39,-38,-23,-7,5,6,7,-2,...,-39,-41,-49,-42,-41,-24,-20,-16,-19,0
5398,13,11,19,23,40,48,53,47,47,56,...,50,30,18,33,52,73,83,94,94,0

In [38]:
print("Tamanho da divisão de validação / teste: %.1f" % (len(df_amostra_30) / len(df_data)))

Tamanho da divisão de validação / teste: 0.3

In [39]:
# Fazendo a divisão

# Dados de teste
df_teste = df_amostra_30.sample(frac = 0.5)

# Dados se validação
df_valid = df_amostra_30.drop(df_teste.index)

# Dados de treino
df_treino = df_data.drop(df_amostra_30.index)

In [40]:
df_teste

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
8450,-52,-51,-44,-44,-54,-54,-49,-44,-23,-12,...,-91,-123,-147,-159,-157,-150,-135,-121,-123,0
999,-22,-25,-30,-39,-41,-47,-44,-37,-36,-20,...,43,52,44,39,37,35,30,22,19,0
8229,-3,6,10,0,-28,-51,-48,-19,28,85,...,40,46,47,43,33,28,23,26,28,0
1764,86,127,143,143,131,128,125,104,70,20,...,-242,-221,-175,-108,-53,-20,-14,-16,-26,1
2099,-49,-45,-38,-12,-5,1,21,23,42,42,...,102,75,38,13,0,-6,1,0,-11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7579,-59,-67,-74,-83,-91,-99,-105,-120,-133,-155,...,-169,-174,-168,-158,-148,-130,-112,-91,-82,0
9808,-121,-58,51,104,85,95,135,197,250,285,...,46,13,35,96,140,125,131,63,-6,1
10226,-113,-119,-135,-139,-136,-114,-88,-76,-62,-66,...,-70,-69,-63,-52,-35,-44,-40,-59,-49,0
1075,64,57,57,65,70,68,61,55,52,40,...,67,62,62,56,51,45,37,32,30,0
11466,34,29,-4,-33,-66,-49,-46,-21,-35,-47,...,35,23,20,48,54,54,32,-5,-12,0

In [41]:
df_valid

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
11458,43,55,68,71,74,82,79,81,70,68,...,-43,-55,-63,-67,-66,-63,-61,-62,-56,0
9782,-41,-53,-35,-13,-1,4,-4,-22,-20,-2,...,91,92,79,72,53,20,-9,-11,2,0
11452,15,22,19,13,-1,-1,-2,5,17,20,...,1,-9,-9,-3,10,8,-1,-5,-13,0
10298,38,51,85,108,105,107,107,95,73,49,...,-57,-46,-42,-37,-47,-43,-36,-5,21,0
4376,-102,-88,-72,-37,0,9,-6,-36,-83,-115,...,-26,-26,-6,23,39,57,84,113,106,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9231,-26,-29,-39,-30,-1,43,65,69,46,9,...,38,52,45,41,35,20,27,46,66,0
7501,-24,-45,-50,-56,-48,-45,-46,-43,-44,-37,...,22,24,19,9,-7,-13,-17,-30,-25,0
7858,-7,35,41,75,75,90,66,31,-1,-9,...,4,7,-8,-53,-55,-14,9,18,16,0
331,-37,-36,-39,-38,-23,-7,5,6,7,-2,...,-39,-41,-49,-42,-41,-24,-20,-16,-19,0
5398,13,11,19,23,40,48,53,47,47,56,...,50,30,18,33,52,73,83,94,94,0

In [42]:
df_treino

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
0,-45,-42,-9,22,48,62,54,34,-7,-35,...,2,-39,-86,-125,-137,-137,-120,-100,-82,0
1,-65,-60,-56,-58,-56,-56,-44,-24,-27,-50,...,-73,-43,-35,-28,-7,17,20,4,4,0
2,-41,-46,-52,-62,-62,-78,-78,-66,-43,-27,...,-81,-81,-80,-70,-55,-40,-36,-44,-50,0
4,-15,-46,-85,-113,-144,-181,-205,-212,-196,-172,...,-12,-7,-7,-8,-29,-41,-52,-64,-63,0
5,43,49,44,21,-10,-42,-51,-43,-25,-36,...,115,102,85,65,55,44,34,22,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11493,-170,-400,-461,-424,-343,-291,-262,-274,-284,-303,...,280,392,619,586,498,89,-349,-672,-838,1
11494,8,44,69,107,147,136,122,80,7,-28,...,-22,9,7,-15,-13,2,-11,-45,-46,0
11495,85,100,88,72,66,61,60,55,49,18,...,-97,-117,-103,-75,-51,-20,6,41,67,0
11498,-15,-47,-54,-50,-38,-32,-19,-8,2,22,...,35,29,13,-21,-42,-62,-67,-68,-60,0
11499,-50,-48,-63,-62,-46,-24,-1,13,27,43,...,44,43,46,47,46,32,13,6,2,0

In [43]:
# Verifique a prevalência de cada subconjunto
print(
    "Teste(n = %d): %.3f"
    % (len(df_teste), calcula_prevalencia(df_teste.LABEL_TARGET.values))
)
print(
    "Validação(n = %d): %.3f"
    % (len(df_valid), calcula_prevalencia(df_valid.LABEL_TARGET.values))
)
print(
    "Treino(n = %d): %.3f"
    % (len(df_treino), calcula_prevalencia(df_treino.LABEL_TARGET.values))
)

Teste(n = 1725): 0.209
Validação(n = 1725): 0.186
Treino(n = 8050): 0.201

## Balanceamento de Classe

Vamos aplicar a estratégia de undersampling. Leia o material no Capítulo 8 com a definição dos conceitos.

In [44]:
df_teste.shape

(1725, 179)

In [45]:
df_valid.shape

(1725, 179)

In [46]:
df_treino.shape

(8050, 179)

In [47]:
df_treino.LABEL_TARGET.value_counts()

LABEL_TARGET
0    6431
1    1619
Name: count, dtype: int64

In [48]:
# Cria um índice com True/False
indice = df_treino.LABEL_TARGET == 1

In [49]:
# Define valores positivos e negativos do índice
df_train_pos = df_treino.loc[indice]
df_train_neg = df_treino.loc[~indice]

In [ ]:
# Testando de outra forma
df_treino_pos_2 = df_treino[df_treino.LABEL_TARGET == 1]

In [56]:
df_treino_pos_2

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
11,-248,-146,-29,67,140,188,222,222,211,193,...,227,14,-289,-412,-468,-502,-491,-483,-470,1
14,-351,-378,-388,-217,67,386,443,228,-112,-418,...,80,76,69,56,41,27,16,-1,-4,1
24,649,666,452,235,72,27,-3,4,51,90,...,174,193,201,229,241,257,256,251,246,1
27,244,151,70,52,124,212,289,324,341,333,...,-118,-58,11,93,177,263,349,424,476,1
46,962,911,789,595,399,233,128,53,-18,-94,...,-72,-84,-97,-124,-166,-212,-226,-213,-197,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,-341,-617,-717,-637,-499,-356,-251,-157,-81,-6,...,173,157,135,23,-209,-487,-744,-946,-1037,1
11459,-21,-21,-31,-35,-33,-25,-11,-1,12,27,...,-173,-125,-84,-49,2,81,181,287,366,1
11486,-193,-225,-258,-297,-353,-303,-133,153,343,290,...,346,221,151,122,133,163,193,228,253,1
11491,219,148,90,25,-44,-98,-141,-140,-109,-81,...,80,6,-15,-54,-102,-147,-187,-189,-170,1
11493,-170,-400,-461,-424,-343,-291,-262,-274,-284,-303,...,280,392,619,586,498,89,-349,-672,-838,1

In [52]:
df_train_pos

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
11,-248,-146,-29,67,140,188,222,222,211,193,...,227,14,-289,-412,-468,-502,-491,-483,-470,1
14,-351,-378,-388,-217,67,386,443,228,-112,-418,...,80,76,69,56,41,27,16,-1,-4,1
24,649,666,452,235,72,27,-3,4,51,90,...,174,193,201,229,241,257,256,251,246,1
27,244,151,70,52,124,212,289,324,341,333,...,-118,-58,11,93,177,263,349,424,476,1
46,962,911,789,595,399,233,128,53,-18,-94,...,-72,-84,-97,-124,-166,-212,-226,-213,-197,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,-341,-617,-717,-637,-499,-356,-251,-157,-81,-6,...,173,157,135,23,-209,-487,-744,-946,-1037,1
11459,-21,-21,-31,-35,-33,-25,-11,-1,12,27,...,-173,-125,-84,-49,2,81,181,287,366,1
11486,-193,-225,-258,-297,-353,-303,-133,153,343,290,...,346,221,151,122,133,163,193,228,253,1
11491,219,148,90,25,-44,-98,-141,-140,-109,-81,...,80,6,-15,-54,-102,-147,-187,-189,-170,1
11493,-170,-400,-461,-424,-343,-291,-262,-274,-284,-303,...,280,392,619,586,498,89,-349,-672,-838,1

In [50]:
# Valor mínimo de registros entre classe positiva e negativa
valor_minimo = np.min([len(df_train_pos), len(df_train_neg)])

In [51]:
valor_minimo

np.int64(1619)

In [57]:
# Obtém valores aleatórios para o dataset de treino
# Obtem registros aleatórios de ambas as classes
df_treino_final = pd.concat([df_train_pos.sample(n = valor_minimo, random_state = 69), 
                             df_train_neg.sample(n = valor_minimo, random_state = 69)], 
                            axis = 0, 
                            ignore_index = True)

In [58]:
df_treino_final.shape

(3238, 179)

In [59]:
# Amostragem aleatória do dataset de treino
df_treino_final = df_treino_final.sample(n = len(df_treino_final), random_state = 69).reset_index(drop = True)

In [60]:
df_treino_final.shape

(3238, 179)

In [61]:
df_treino_final.LABEL_TARGET.value_counts()

LABEL_TARGET
1    1619
0    1619
Name: count, dtype: int64

In [62]:
# Balanceamento do conjunto de dados
print('Balanceamento em Treino(n = %d): %.3f'%(len(df_treino_final), 
                                               calcula_prevalencia(df_treino_final.LABEL_TARGET.values)))

Balanceamento em Treino(n = 3238): 0.500

## Salvando o Resultado do Pré-Processamento

In [63]:
# Salvamos todos os datasets em disco no formato csv
df_treino.to_csv('datasets_cap7/dados_treino.csv', index = False)
df_treino_final.to_csv('datasets_cap7/dados_treino_final.csv', index = False)
df_valid.to_csv('datasets_cap7/dados_valid.csv', index = False)
df_teste.to_csv('datasets_cap7/dados_teste.csv', index = False)

In [64]:
# Salvamos os nomes dos dados de entrada (colunas preditoras) para facilitar a utilização mais tarde
pickle.dump(colunas_entrada, open('datasets_cap7/colunas_entrada.sav', 'wb'))

# Continuaremos o Projeto no Próximo Capítulo!

In [65]:
%reload_ext watermark
%watermark -a "Data Science Academy"

Author: Data Science Academy

In [49]:
#%watermark -v -m

In [50]:
#%watermark --iversions

# Fim